@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.teachers-container {
    display: flex;
    flex-direction: column;
    margin: 47px 135px 28px 135px;
}

.teachers-title {
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 20px;
}

.teachers-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    column-gap: 75px;
    row-gap: 40px;
}

.teacher-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 328px;
    height: 512px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px #93A3A3;
    border-radius: 15px;
    padding: 12px;
    overflow: auto;
}

.teacher-content img {
    width: 152px;
    height: 152px;
    border-radius: 100px;
}

.teacher-name {
    height: 51px;
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: 12px 0px;
}

.info-element {
    display: flex;
    margin-bottom: 6px;
    justify-content: flex-start;
}

.info-element-span {
    min-width: 100px;
    vertical-align: top;
    min-height: 100%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #4F5D5D;
}

.info-element-content {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    color: #000000;
}